.tweet-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    padding: 2em 2em 1em 2em;
}

.tweet-window .tweet {
    border-style: inset;
    border-width: 2px;
    border-radius: 10px;
    width: 100%;
    opacity: 0.7;
    margin-bottom: 1em;
}

.tweet img {
    float: left;
    padding-right: 5px;
}

.tweet-window .tweet header {
    font-size: 2em;
    font-weight: 700;
    padding: 5px;
    background-color: antiquewhite;
    line-height: 160%;
}

.tweet-window .tweet header p {
    float: right;
    font-weight: 300;
    font-size: 50%;
}

.tweet-window .tweet p {
    font-size: 150%;
    padding: 0 10px 0 10px;
    margin: 10px 0 10px 0;
}

.tweet-window .tweet footer {
    font-weight: 300;
    border-top: 2px solid antiquewhite;
    padding: 2px 2px 2px 5px;
}

.tweet footer {
    display: flex;
    justify-content: space-between;
}

.tweet .media-buttons {
    opacity: 0;
}

.tweet:hover, .tweet:hover .media-buttons {
    opacity: 1;
}